.selectWrapper {
  position: relative;
}

.selectInputWrapper {
  position: relative;
  height: 56px;
  width: 100%;
  display: flex;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid rgba(11, 31, 53, 0.15);
  background-color: rgba(11, 31, 53, 0.05);
}

.selectInputWrapperTransparent {
  border: none;
  background-color: transparent;
}

.selectInputWrapperActive {
  border-bottom: 2px solid #0b1f35;
}

.selectInput {
  position: absolute;
  bottom: 5px;
  left: 12px;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}

.selectInput:focus,
.selectInputActive {
  height: 20px;
}

.selectCaption {
  position: absolute;
  top: 20px;
  left: 12px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: #6d7986;
  transition: all 0.2s ease;
}

.selectCaptionActive {
  top: 8px;
  left: 12px;
}

.selectArrow {
  position: absolute;
  top: 24px;
  right: 15px;
  height: 20px;
  width: 20px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url('https://storage.yandexcloud.net/alfaleasing/components/dropdown-arrow.svg');
  transition: all 0.2s;
  cursor: pointer;
  z-index: 5;
}

.selectArrowActive {
  transform: rotateZ(180deg);
}

.selectDropDownList {
  position: absolute;
  display: none;
  top: calc(100% + 4px);
  width: 100%;
  background-color: #fff;
  z-index: 99;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08), 0px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.selectDropDownListSeparators > div:not(:last-child)::after {
  content: '';
  display: block;
  height: 1px;
  border-bottom: 1px solid #dbe1e7;
}

.selectDropDownListActive {
  display: block;
}

/* Group */
.dropDownGroup {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.dropDownGroupBorder {
  border-bottom: 1px solid #dbe1e7;
}

.dropDownGroupTitle {
  margin: 0 0 0 8px;
  font-size: 16px;
  line-height: 22px;
  color: #6d7986;
}

/* Item */
.dropDownItemWrapper {
  display: flex;
  flex-direction: column;
}

.dropDownItem {
  position: relative;
  height: 40px;
  margin: 4px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.dropDownItem:hover {
  background: #f1f3f5;
}

.dropDownItemImage {
  margin-right: 8px;
  visibility: hidden;
}

.dropDownItemImageSelected {
  visibility: visible;
}

.dropDownItemText {
  font-size: 16px;
  line-height: 22px;
  color: #0b1f35;
}

.dropDownItemAdditionalButton {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 24px;
  width: 24px;
  border: none;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('https://storage.yandexcloud.net/alfaleasing/components/plus-icon.svg');
  z-index: 5;
}

.dropDownItemAdditionalButton:hover {
  background-image: url('https://storage.yandexcloud.net/alfaleasing/components/plus-icon-hover.svg');
}

.dropDownItemAdditionalButtonActive {
  background-image: url('https://storage.yandexcloud.net/alfaleasing/components/minus-icon.svg');
}

.dropDownItemAdditionalButtonActive:hover {
  background-image: url('https://storage.yandexcloud.net/alfaleasing/components/minus-icon-hover.svg');
}

.dropDownItemAdditionalWrapper {
  display: flex;
  flex-direction: column;
}

.dropDownItemTextAdditional {
  margin-left: 24px;
}
