.selectWrapper {
  position: relative;
}

.selectInputWrapper {
  position: relative;
  height: 56px;
  width: 100%;
  display: flex;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid rgba(11, 31, 53, 0.15);
  background-color: rgba(11, 31, 53, 0.05);
}

.selectInputWrapperActive {
  border-bottom: 2px solid #0b1f35;
}

.selectInput {
  position: absolute;
  bottom: 7px;
  left: 12px;
  height: 20px;
  outline: none;
  border: none;
  background-color: transparent;
}

.selectInputWhite {
  background-color: #fff;
}

.selectCaption {
  position: absolute;
  top: 20px;
  left: 12px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: #6d7986;
  transition: all 0.2s ease;
}

.selectCaptionActive {
  top: 8px;
  left: 12px;
}

.selectArrow {
  position: absolute;
  top: 24px;
  right: 15px;
  height: 15px;
  width: 15px;
  transition: all 0.2s;
}

.selectArrowActive {
  transform: rotateZ(180deg);
}

.selectDropDownList {
  position: absolute;
  display: none;
  top: calc(100% + 4px);
  width: 100%;
  background-color: #fff;
  z-index: 99;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08), 0px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.selectDropDownListActive {
  display: block;
}

/* Group */
.dropDownGroup {
  display: flex;
  flex-direction: column;
}

.dropDownGroupBorder {
  border-bottom: 1px solid #dbe1e7;
}

.dropDownGroupTitle {
  margin-left: 8px;
  font-size: 16px;
  line-height: 22px;
  color: #6d7986;
}

/* Item */
.dropDownItem {
  height: 40px;
  margin: 4px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.dropDownItem:hover {
  background: #f1f3f5;
}

.dropDownItemImage {
  margin-right: 8px;
  visibility: hidden;
}

.dropDownItemSelected + .dropDownItemImage {
  visibility: visible;
}

.dropDownItemText {
  font-size: 16px;
  line-height: 22px;
  color: #0b1f35;
}
